#login{
	.content{
		display: flex;
		position: relative;
		height: 100vh;
	}
	.content-footer{
		position: absolute;
		bottom:0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 16px;
		font-size: 12px;
		p{
			margin-bottom: 8px;
		}
		p,
		a{
			color: $gray;
		}
		.center-tag{
			position: relative;
			margin: 0 16px;
			&:after{
				position: absolute;
				top: -5px;
				right: -8px;
				content: '.';
			}
			&:before{
				position: absolute;
				top: -5px;
				left: -8px;
				content: '.';
			}
		}
	}
	.left{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		width: 0;
		height: 100%;
		background: #fff url('https://zongyuan.oss-cn-shenzhen.aliyuncs.com/ning-ui-blog/1543218076685.png') no-repeat center/cover;
		color: #fff;
		.ning-line-btn{
			margin-top: $md;
			color: #fff;
			&:hover{
				color: $blue-5;
			}
		}
	}
	.login-box{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		padding: 50px;
		border-radius: 4px;
		background: #fff;
		#login_form{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			.form-item{
				position: relative;
				width: 100%;
				margin-bottom: 20px;
				input{
					position: relative;
					width: 100%;
					height: 56px;
					line-height: 36px;
					padding: 16px 36px 0 10px;
					border: none;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					border-bottom: 1px solid $blue-3;
					background: $blue-1;
					transition: all .5s;
					&:focus{
						outline: none;
						&+.ning-icon{
							color: $blue;
						}
					}
					&::-webkit-input-placeholder {
					    color: $blue-3;
					}
					&:placeholder-shown::placeholder {
					    color: transparent;
					}
				}
				.label-placeholder{
					position: absolute;
					z-index: 1;
				    bottom: 10px;
				    left: 10px;
				    width: auto;
				    min-width: 0;
				    padding: 0 2px;
				    font-size: 12px;
				    font-weight: normal;
				    color: $blue-3;
				    pointer-events: none;
				    transition: .25s;
				}
				input:-webkit-autofill{
					// -webkit-box-shadow: inset 0 0 0 1000px $blue-1;
				}
				input:not(:placeholder-shown) ~ .label-placeholder,
				input:focus ~ .label-placeholder,
				input:-webkit-autofill ~ .label-placeholder {
				    transform: scale(0.9) translate(-4px, -28px);
				    color: $blue-3;
				}
				.ning-icon{
					position: absolute;
					bottom: 10px;
					right: 10px;
					color: $blue-3;
					transition: all .5s;
				}
			}
		}
	}
}