@import "../sass/ning-ui/variable.scss";

#login{
	.content{
		height: 100%;
		/* background: #fff url('../images/bg_2.jpg') no-repeat center/cover; */
		.content-aside{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 100%;
			background: #fff url('../images/bg_9.jpg') no-repeat center/cover;
		    mix-blend-mode: multiply;
		}
		.content-aside-footer{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 16px;
			font-size: 12px;
			p{
				margin-bottom: 8px;
			}
			p,
			a{
				color: $gray;
			}
			.center-tag{
				position: relative;
				margin: 0 16px;
				&:after{
					position: absolute;
					top: -5px;
					right: -8px;
					content: '.';
				}
				&:before{
					position: absolute;
					top: -5px;
					left: -8px;
					content: '.';
				}
			}
		}
		.content-login{
			background: #fff url('../images/bg_6.jpg') no-repeat center/cover;
		}
		.login-box{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 500px;
			h1{
				font-size: 36px;
				margin-bottom: 36px;
				.b-span{
					margin-left: 8px;
					border-bottom: 4px solid $blue;
				};
			}
			form{
				display: flex;
				flex-direction: column;
				align-items: center;
				.form-item{
					position: relative;
					width: 300px;
					height: 36px;
					margin-bottom: 20px;
					color: $t_c_weak;
					input{
						width: 100%;
						line-height: 36px;
						padding-right: 36px;
						border:  none;
						border-bottom: 1px solid $t_c_weak;
						background-color: transparent;
						transition: all .5s;
						&:focus{
							outline: none;
							&+.ning-icon{
								color: $blue;
							}
						}
						&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
						    color: $gray;
						}
					}
					.ning-icon{
						position: absolute;
						top: 10px;
						right: 10px;
						transition: all .5s;
					}

				}
				button{
					line-height: 36px;
					padding: 0 16px;
					margin-top: 20px;
					border-radius: 16px;
					background-color: transparent;
					font-weight: bold;
					&:hover{
					}
				}
			}
		}
	}
}