/* font相关类 */
._bold {
    font-weight: bold;
}

._normal {
    font-weight: normal;
}

._tips {
    font-size: 12px;
    font-color: $light;
}

/* 句末省略号 */

.elis {
    overflow: hidden;
    text-overflow:ellipsis;//文本溢出显示省略号
    white-space:nowrap;//文本不会换行（单行文本溢出）
}

.elis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 文字对齐 */
.verticle-mode {
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    *writing-mode: tb-rl;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tlr {
    text-align-last: justify;
}

/* 字体基础尺寸 */

._xs {
    font-size: 12px;
    line-height: 20px;
}

._sm {
    font-size: 14px;
    line-height: 22px;
}

._md {
    font-size: 16px;
    line-height: 24px;
}

._lg {
    font-size: 20px;
    line-height: 28px;
}

._xl {
    font-size: 24px;
    line-height: 32px;
}

/* 文字基础颜色，放在最后 */

._base {
    color: $t_c;
}

._light {
    color: $light;
}

._dark {
    color: $dark;
}

._gray {
    color: $gray;
}

._blue {
    color: $blue;
}

._green {
    color: $green;
}

._orange {
    color: $orange;
}

._yellow {
    color: $yellow;
}

._purple {
    color: $purple;
}

._red {
    color: $red;
}

._white {
    color: $white;
}

.blue-1 {
    color: $blue_1;
}
.blue-2 {
    color: $blue_2;
}
.blue-3 {
    color: $blue_3;
}
.blue-4 {
    color: $blue_4;
}
.blue-5 {
    color: $blue_5;
}
.b-blue-1 {
    background-color: $blue_1;
}
.b-blue-2 {
    background-color: $blue_2;
}
.b-blue-3 {
    background-color: $blue_3;
}
.b-blue-4 {
    background-color: $blue_4;
}
.b-blue-5 {
    background-color: $blue_5;
}
.green-1 {
    color: $green_1;
}
.green-2 {
    color: $green_2;
}
.green-3 {
    color: $green_3;
}
.green-4 {
    color: $green_4;
}
.green-4 {
    color: $green_4;
}
.b-green-1 {
    background-color: $green_1;
}
.b-green-2 {
    background-color: $green_2;
}
.b-green-3 {
    background-color: $green_3;
}
.b-green-4 {
    background-color: $green_4;
}
.b-green-5 {
    background-color: $green_5;
}
.orange-1 {
    color: $orange_1;
}
.orange-2 {
    color: $orange_2;
}
.orange-3 {
    color: $orange_3;
}
.orange-4 {
    color: $orange_4;
}
.orange-5 {
    color: $orange_5;
}
.b-orange-1 {
    background-color: $orange_1;
}
.b-orange-2 {
    background-color: $orange_2;
}
.b-orange-3 {
    background-color: $orange_3;
}
.b-orange-4 {
    background-color: $orange_4;
}
.b-orange-5 {
    background-color: $orange_5;
}
.red-1 {
    color: $red_1;
}
.red-2 {
    color: $red_2;
}
.red-3 {
    color: $red_3;
}
.red-4 {
    color: $red_4;
}
.red-5 {
    color: $red_5;
}
.b-red-1 {
    background-color: $red_1;
}
.b-red-2 {
    background-color: $red_2;
}
.b-red-3 {
    background-color: $red_3;
}
.b-red-4 {
    background-color: $red_4;
}
.b-red-5 {
    background-color: $red_5;
}
.b-gray{
    background-color: $gray;
}
.b-dark{
    background-color: $dark;
}
.b-gray-1{
    background-color: $t_c;
}
.b-gray-2{
    background-color: $t_c_weak;
}
.b-gray-3{
    background-color: $light;
}


.b-drak {
    background: #33373d;
}

.b_border {
    background: $b_c;
}

.b_light {
    background-color: $light;
}

.b_dark {
    background-color: $dark;
}

.b_gray {
    background-color: $gray;
}

.b_blue {
    background-color: $blue;
}

.b_green {
    background-color: #52c41a;
}

.b_orange {
    background-color: #f0643a;
}

.b_yellow {
    background-color: #fadb14;
}

.b_purple {
    background-color: #a091ff;
}

.b_red {
    background-color: #f5222d;
}

.b_white {
    background-color: #fff;
}
