#home{
	.ning-container{
		box-shadow: none;
	}
	section:not(:last-child){
		margin-bottom: 24px;
	}
	.overview{
		display: flex;
		justify-content: space-between;
		.profile-wrap{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			width: 348px;
			height: 288px;
			padding: $md;
			background-color: #fff;
			@include radius($xs);
			@include shadow;
			.head{
				width: 140px;
				height: 140px;
				border-radius: 50%;
				background: url('https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/imgad/pic/item/3812b31bb051f8192aca6141d2b44aed2f73e7ca.jpg') center / cover;
			}
		}
		.work-list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 824px;
			margin-bottom: -24px;
			li{
				position: relative;
				display: flex;
				width: 400px;
				padding: $md;
				margin-bottom: 24px;
				@include radius($xs);
				@include shadow;
				overflow: hidden;
				background-color: #fff;
				img{
					width: 160px;
					height: 100px;
					margin-right: $md;
					border: 1px solid #f5f5f5;
					@include radius($xxs);
				}
				p{
					font-size: 12px;
				}
				h2{
					font-size: 16px;
				}
				.github-badge{
					position: absolute;
					right: -36px;
					top: 30px;
					background: $blue-3;
					padding: $xxs 30px;
					color: #fff;
					font-size: 10px;
					@include shadow;
					transform: rotate(45deg);
					transition: .25s;
					&:hover{
						background: $blue;
					}
				}
			}
		}
	}
	.ning-ui-list{
		display: flex;
		justify-content: space-between;
		-webkit-perspective: 1800px;
     	perspective: 1800px;
		.ning-ui-item{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 18%;
			padding: 16px;
			@include shadow;
			transform-origin: center bottom;
			transform-style: preserve-3d;
			transition: .5s transform;
			background-color: #fff;
			&:nth-child(1),
			&:nth-child(5)
			{
				.ning-ui-item-wrap{
					background: $blue-3;
				}
			}
			&:nth-child(2),
			&:nth-child(4)
			{
				.ning-ui-item-wrap{
					background: $blue-4;
				}
			}
			.ning-ui-item-wrap{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				margin-bottom: $md;
				color: #fff;
				background: $blue-3;
			}
			.title{
				font-weight: bold;
			}
			.icon-ning{
				transform: scale(3);
			}
		}
	}
	.blog-desc-wrap,
	.blog-list{
		width: 588px;
		background-color: #fff;
	}
	.blog-desc-wrap{
		display: flex;
		flex-direction: column;
	}
	.blog-desc{
		padding: $md;
		@include shadow;
		@include radius($xs);
	}
	.blog-chart{
		width: 100%;
		margin-top: 24px;
		padding: $md;
		@include shadow;
		@include radius($xs);
	}
	.blog-list{
		@include shadow;
		@include radius($xs);
		li:first-child{
			padding: $md;
			border-bottom: 1px solid $b-c;
		}
		.blog-list-item{
			display: flex;
			align-items: center;
			padding: $lg 0;
			margin: 0 $md;
			&:not(:last-child){
				border-bottom: 1px dashed $b-c;
			}
			img{
				width: 160px;
				height: 100px;
				margin-left: 8px;
				border-radius: 2px;
			}
			.content-wrap{
				display: flex;
				justify-content: space-between;
				height: 100px;
				.title{
					font-size: 16px;
					font-weight: bold;
					@include elis-1;
				}
				.summary{
					width: 100%;
					max-height: 44px;
					color: $gray;
					@include elis-1;
				}
			}
		}
	}
}