// .icon-search{
//     background-image: url('./images/search.png');
// }

// .icon-download {
//     background-image: url('./images/download_icon.png');
// }

// .icon-del {
//     background-image: url('./images/delete.png');
// }

// .icon-del-circle {
//     background-image: url('./images/del.png');
// }

// .icon-handing {
//     background-image: url('./images/handing.png');
// }


/* 单元素图标 */
.ning-icon{
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	&.icon-plus{
		&:before,
		&:after{
			position: absolute;
			left: 0;
			top: 6px;
			content: '';
			width: 16px;
			height: 4px;
			border-radius: 2px;
			background-color: currentColor;
		}
		&:after{
			transform: rotate(90deg);
		}
	}
	&.icon-minus{
		&:after{
			position: absolute;
			left: 0;
			top: 6px;
			content: '';
			width: 16px;
			height: 4px;
			border-radius: 2px;
			background-color: currentColor;
		}
	}
	&.icon-asterisk{
		&:before,
		&:after{
			position: absolute;
			top: 7px;
			left: 7px;
			content: '';
			width: 2px;
			height: 2px;
			background-color: currentColor;
			box-shadow: 2px 0 0 currentColor,
						4px 0 0 currentColor,
						6px 0 0 currentColor,
						-2px 0 0 currentColor,
						-4px 0 0 currentColor,
						-6px 0 0 currentColor,
						0 2px 0 currentColor,
						0 4px 0 currentColor,
						0 6px 0 currentColor,
						0 -2px 0 currentColor,
						0 -4px 0 currentColor,
						0 -6px 0 currentColor;
		}
		&:after{
			transform: rotate(45deg);
		}
	}
	&.icon-menu{
		&:before,
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 7px;
			padding: 1px 0;
			border-top: 7px solid currentColor;
			border-bottom: 7px solid currentColor;
			border-radius: 2px;
			background-color: transparent;
		}
		&:after{
			left: 9px;
		}
	}
	&.icon-heart{
		&:before,
		&:after{
			position: absolute;
			top: 1px;
			content: '';
			width: 8px;
			height: 13px;
			border-top: 5px solid currentColor;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background-color: currentColor;
		}
		&:before{
			left: 2px;
			transform: rotate(-45deg);
		}
		&:after{
			left: 6px;
			transform: rotate(45deg);
		}
	}
	&.icon-star{

	}
	&.icon-search{
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 12px;
			height: 12px;
			border: 2px solid currentColor;
			border-radius: 50%;
		}
		&:after{
			position: absolute;
			top: 11px;
			left: 8px;
			content: '';
			width: 8px;
			height: 2px;
			background-color: currentColor;
			transform: rotate(45deg);
		}
	}
	&.icon-list{
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 12px;
			height: 16px;
			padding: 2px 0;
			border-top: 4px solid currentColor;
			border-bottom: 4px solid currentColor;
			background-color: currentColor;
			background-clip: content-box;
		}
	}
	&.icon-person{
		&:before{
			position: absolute;
			top: 0;
			left: 4px;
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: currentColor;
		}
		&:after{
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			width: 16px;
			height: 6px;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			background: currentColor;
		}
	}
	&.icon-email{
		&:before,
		&:after{
			position: absolute;
			left: 0;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-radius: 2px;
		}
		&:before{
			top: 1px;
			border-width: 6px 8px;
			border-color: currentColor transparent transparent transparent;
		}
		&:after{
			top: 3px;
			border-width: 6px 8px;
			border-color: transparent currentColor currentColor currentColor;
		}
	}
	&.icon-phone{
		&:before{
			position: absolute;
			left: -2px;
			top: 5px;
			content: '';
			width: 18px;
			height: 8px;
			border-style: solid;
			border-radius: 4px 4px 10px 10px;
			border-width: 0 5px 3px 5px;
			transform: rotate(45deg);
		}
	}
	&.icon-password{
		&:before{
			position: absolute;
			left: 3px;
			top: 1px;
			content: '';
			width: 10px;
			height: 10px;
			border: 2px solid;
			border-radius: 50%;
		}
		&:after{
			position: absolute;
			left: 1px;
			top: 7px;
			content: '';
			width: 14px;
			height: 9px;
			border-radius: 2px;
			background: currentColor;
		}
	}
	&.icon-transfer{
		&:before{
			position: absolute;
			left: 0;
			top: 4px;
			content: '';
			width: 16px;
			height: 4px;
			border-style: solid;
			border-width: 8px 0 0 0 ;
			border-color: currentColor transparent transparent transparent;
			border-top-left-radius: 8px;
		}
		&:after{
			position: absolute;
			top: 0;
			right: -8px;
			content: '';
			width: 0;
			height: 0;
			border: 8px solid;
			border-color: transparent transparent transparent currentColor;
		}
	}
	&.icon-prev{
		&:before{
			position: absolute;
			left: 3px;
			top: 10px;
			content: '';
			width: 10px;
			height: 2px;
			border-radius: 2px;
			background-color: currentColor;
			transform: rotate(40deg);
		}
		&:after{
			position: absolute;
			left: 3px;
			top: 4px;
			content: '';
			width: 10px;
			height: 2px;
			border-radius: 2px;
			background-color: currentColor;
			transform: rotate(-40deg);
		}
	}
	&.icon-next{
		&:before{
			position: absolute;
			left: 3px;
			top: 4px;
			content: '';
			width: 10px;
			height: 2px;
			border-radius: 2px;
			background-color: currentColor;
			transform: rotate(40deg);
		}
		&:after{
			position: absolute;
			left: 3px;
			top: 10px;
			content: '';
			width: 10px;
			height: 2px;
			border-radius: 2px;
			background-color: currentColor;
			transform: rotate(-40deg);
		}
	}
}


