/* 布局  */

.flex-box {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.flex-row-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-col-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-center-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-allcenter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ning-container {
    position: relative;
    margin: $lg auto;
    width: 1200px;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(223, 225, 230, 0.5);
}

.con-box {
    padding: $md;
    margin-bottom: $md;
    box-shadow: 1px 1px $xs rgba(0, 0, 0, .1);
    overflow: hidden;
}

.half-box {
    position: relative;
    width: 50%;
}

.b-box {
    border: 1px solid $b_c;
}

.r-box {
    border-radius: $xs;
}

.r-box-xs {
    border-radius: $xxs;
}

.i-b {
    display: inline-block;
}

.pos-r{
    position: relative;
}

/* clear float */

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear-fix {
    zoom: 1;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}


/* margin padding */

.m-xs {
    margin: $xs;
}

.m-sm {
    margin: $sm;
}

.m-md {
    margin: $md;
}

.m-lg {
    margin: $lg;
}

.p-xs {
    padding: $xs;
}

.p-sm {
    padding: $sm;
}

.p-md {
    padding: $md;
}

.p-lg {
    padding: $lg;
}

.m-t-xs {
    margin-top: $xs;
}

.m-t-sm {
    margin-top: $sm;
}

.m-t-md {
    margin-top: $md;
}

.m-t-lg {
    margin-top: $xl;
}

.p-t-xs {
    padding-top: $xs;
}

.p-t-sm {
    padding-top: $sm;
}

.p-t-md {
    padding-top: $md;
}

.p-t-lg {
    padding-top: $xl;
}

.m-r-xs {
    margin-right: $xs;
}

.m-r-sm {
    margin-right: $sm;
}

.m-r-md {
    margin-right: $md;
}

.m-r-lg {
    margin-right: $xl;
}

.p-r-xs {
    padding-right: $xs;
}

.p-r-sm {
    padding-right: $sm;
}

.p-r-md {
    padding-right: $md;
}

.p-r-lg {
    padding-right: $xl;
}

.m-b-xs {
    margin-bottom: $xs;
}

.m-b-sm {
    margin-bottom: $sm;
}

.m-b-md {
    margin-bottom: $md;
}

.m-b-lg {
    margin-bottom: $xl;
}

.p-b-xs {
    padding-bottom: $xs;
}

.p-b-sm {
    padding-bottom: $sm;
}

.p-b-md {
    padding-bottom: $md;
}

.p-b-lg {
    padding-bottom: $xl;
}

.m-l-xs {
    margin-left: $xs;
}

.m-l-sm {
    margin-left: $sm;
}

.m-l-md {
    margin-left: $md;
}

.m-l-lg {
    margin-left: $xl;
}

.p-l-xs {
    padding-left: $xs;
}

.p-l-sm {
    padding-left: $sm;
}

.p-l-md {
    padding-left: $md;
}

.p-l-lg {
    padding-left: $xl;
}

/* 栅格布局 */

.ning-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .col-12 {
        width: 100%;
    }
    .col-10 {
        width: 83.3333333333333%;
    }
    .col-9 {
        width: 75%;
    }
    .col-8 {
        width: 66.6666666666666%;
    }
    .col-6 {
        width: 50%;
    }
    .col-4 {
        width: 33.3333333333333%;
    }
    .col-3 {
        width: 25%;
    }
    .col-2 {
        width: 16.6666666666666%;
    }
    .col-offset-10 {
        margin-left: 83.3333333333333%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-8 {
        margin-left: 66.6666666666666%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-4 {
        margin-left: 33.3333333333333%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-2 {
        margin-left: 16.6666666666666%;
    }
}