.ning-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transform: scale(0);
    opacity: 0;
    transition: all ease-in .25s;
    &.active{
        transform: scale(1);
        opacity: 1;
    }
    .ning-modal-dialog {
        padding: $lg;
        border-radius: $xs !important;
        background-color: #fff;
    }
    .ning-modal-close-btn{
        transform: scale(1) rotate(0);
        transition: .5s;
        &:hover{
            transform: scale(1.5) rotate(90deg);
        }
    }
    .ning-modal.ning-modal-active {
        background: rgba(0,0,0,.6);
    }
    .ning-modal-hd {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px dashed $b_c;
        font-size: 16px;
        font-weight: bold;
    }
}