.ning-border-table {
    width: 100%;
    border: none;
    border-top: 1px solid $b_c;
    font-size: 14px;
    th,
    td {
        padding: 0 8px;
        line-height: 40px;
        border: 1px solid $b_c;
        border-left: none;
        border-top: none;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        &:first-child {
            border-left: 1px solid $b_c;
        }
    }
    th{
        background: #f5f5f5;
    }
    &._row{
        border: 1px solid $b_c;
        border-bottom: none;
        th,
        td {
            padding: 0 8px;
            line-height: 40px;
            border: none;
            border-bottom: 1px solid $b_c;
            text-align: center;
            vertical-align: middle;
        }
    }
    tbody tr {
        transition: background-color .25s;
        &:hover {
            background-color: #f8f8f8;
        }
        &.no-hover {
            &:hover {
                background-color: transparent;
            }
        }
    }
    .tb-content {
        max-width: 400px;
        line-height: 1.5;
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.ning-fixed-header-table{
    position: relative;
    border-bottom: 1px solid $b_c;
    overflow: hidden;
    table:last-child{
        border-top: none;
    }
    .scroll-y{
        overflow-y: auto;
        height: calc(100% - 40px);
    }
}
.ning-scroll-x-table{
    overflow-x: auto;
    border-left: 1px solid $b_c;
    border-right: 1px solid $b_c;
    table{
        th,
        td {
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}