.icon-search{
    background-image: url('./images/search.png');
}

.icon-download {
    background-image: url('./images/download_icon.png');
}

.icon-del {
    background-image: url('./images/delete.png');
}

.icon-del-circle {
    background-image: url('./images/del.png');
}

.icon-handing {
    background-image: url('./images/handing.png');
}
