@import "./_reset.scss";
@import "./variable.scss";

@import "./button.scss";
@import "./layout.scss";
@import "./table.scss";
@import "./form.scss";
@import "./icon.scss";
@import "./util.scss";

@import "./font.scss";
/* reset */
html {
    min-height: 100%;
    line-height: 1.6;
    font-size: 14px;
    color: $t_c;
    -webkit-font-smoothing: antialiased;
    &::selection {
        background: $blue;
        color: #fff;
    }
}
body {
    height: 100%;
}

a:link {
    color: $t_c;
}
a:visited {
    color: $dark;
}
a:hover {
    color: $blue;
}
a:active {
    color: $blue;
}
a{
	&.blue{
    	color: $blue;
    }
    &.light{
        color: $light;
    }
}
h1 {
    margin-top: 0;
    font-size: $lg;
}
ul{
	&.style-ul{
		list-style-type: disc;
		padding-left: 2em;
	}
}
p {
    line-height: 22px;
}
code{
	background: #f5f5f5;
	padding: 0 4px;
	margin: 0 2px;
	border: 1px dashed $b_c;
	border-radius: 2px;
}
hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 1px solid $light;
}

.ning-tabs{
    overflow: hidden;
    .ning-tabs_nav {
        display: flex;
        border-bottom: 1px solid $light_gray;
        overflow-x: auto;
        li {
            position: relative;
            display: inline-block;
            line-height: 36px;
            padding: 0 16px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background: $light_gray;
            font-size: 14px;
            color: $t_c_weak;
            cursor: pointer;
            overflow: hidden;
            transition: .25s;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active{
                color: #fff;
                background: $blue;
            }
            &.disabled{
                color: #fff;
                background: $gray;
                cursor: not-allowed;
            }
        }
        &.text{
            li {
                background: #fff;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background: $blue;
                    transform: scaleX(0);
                    transform-origin: 50% 50%;
                    transition: .25s;
                }
                &.active{
                    color: $blue;
                    &:after{
                        transform: scaleX(1);
                    }
                }
                &.disabled{
                    color: $gray;
                }
            }
        }
    }
    .ning-tabs_body{
        font-size: 0;
        white-space: nowrap;
        transition: all .25s;
        transform: translate3d(0px, 0px, 0px);
        li{
            display: inline-block;
            width: 100%;
            padding: 16px;
            font-size: 14px;
            white-space: normal;
            vertical-align: top;
            transition: all .25s;
        }
    }
}

.ning-breadcrumb {
    padding: 16px 0;
    a {
        position: relative;
        color: $light;
    }
    .separator {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        color: $light;
    }
}

.ning-dropdown-trigger {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    background: #fff;
    border: 1px solid $b_c;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover span {
        color: $blue;
    }
}

.ning-dropdown {
    position: absolute;
    left: 0;
    top: 36px;
    padding: 5px 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    ul li {
        line-height: 32px;
        padding: 0 12px;
        cursor: pointer;
        &:hover {
            background: $b_c;
        }
    }
}
.auto-h-textarea {
    width: 100%;
    resize: none;
    outline: none;
    overflow: hidden;
}

.icon-box{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #f5f5f5;
    span{
        margin-top: 16px;
        font-size: 12px;
    }
}
