#article_detail{
	display: flex;
	justify-content: center;
	h2 {
		font-size: 24px;
        line-height: 48px;
    }
	h3 {
		font-size: 20px;
        line-height: 40px;
        & + h4{
        	margin-top: 8px;
        }
    }
    h4 {
    	font-size: 16px;
        line-height: 32px;
    }
    .ning-icon{
        color: $blue-4;
    }
	.article-detail-wrap{
		width: 800px;
	}
	.article_preview-header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        height: 320px;
        margin-bottom: 8px;
        border-radius: 4px;
        background: $gray center/cover;
        color: #fff;
        text-align: center;
        .article_preview-title {
	    }
	    .article_preview-tags {
	    	margin: 8px 0;
	    	font-size: 12px;
	    }
	    .article_preview-summary{
            position: relative;
            z-index: 1;
	    	max-width: 60%;
	    	padding: 8px 16px;
            margin-top: 32px;
	    	border-radius: 2px;
            box-shadow: 0 0 10px 0px #000;
            text-align: left;
            &:after {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                margin: -16px;
                background-color: rgba(255,255,255,.25);
                filter: blur(16px);
            }
	    }
	    .article_preview-header_footer{
	    	position: absolute;
	    	bottom: 0;
	    	display: flex;
	    	justify-content: space-between;
	    	width: 100%;
	    	padding: 0 16px 8px;
	    	font-size: 12px;
    	    color: rgba(255,255,255,.75);
	    }
    }
    #articleContentResult {
    	li{
    		margin-top: 8px;
    	}
        padding-bottom: 8px;
        word-break: break-all;
        blockquote {
            padding: 16px;
            background: linear-gradient(to right, rgba(236, 242, 252, .5), rgba(236, 242, 252, 0.2));
            margin: 16px 0;
            border-left: 4px solid $blue_3;
            border-radius: 2px;
            p{
            	margin: 0;
            }
            code {
                background: $b_c;
            }
        }
        p {
        	margin-top: 8px;
            line-height: 22px;
            word-break: break-word;
            & + h3,
            & + h4{
            	margin-top: 8px;
            }
        }
        img{
            max-width: 80%;
            max-height: 400px;
            margin: 16px 10%;
        }
        ul {
            list-style: inside;
            text-indent: 2em;
            & + h3,
            & + h4{
            	margin-top: 8px;
            }
        }
        pre{
        	margin: 16px 0;
        	& + h3,
            & + h4{
            	margin-top: 8px;
            }
        }
    }
}