@import './animations.scss';
/* base size */
$xxs: 2px;
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 40px;

/* colors */
$blue: #4284ED; // ui 主色
$blue_1: #C6DAFA;
$blue_2: #A1C2F6;
$blue_3: #7BA9F2;
$blue_4: #5E96F0;
$blue_5: #4284ED;

$green: #27ae60; // 绿色  成功提醒色
$green_1: #BEE7CF;
$green_2: #93D7B0;
$green_3: #68C690;
$green_4: #47BA78;
$green_5: #27ae60;

$orange: #ffb216; // 橙色 警示提醒色
$orange_1: #FFE8B9;
$orange_2: #FFD98B;
$orange_3: #FFC95C;
$orange_4: #FFBE39;
$orange_5: #ffb216;

$red: #f5222d; // 红色 错误提醒色
$red_1: #FCBDC0;
$red_2: #FA9196;
$red_3: #F8646C;
$red_4: #F7434D;
$red_5: #f5222d;

$dark: #394C66; // 黑色 文字主色
$gray: #9FA9B7; // 灰色 禁用
$light: #f5f5f5; // 浅灰
$t_c: $dark; // 文字主色
$t_c_weak: $light;


$white: #fff; // 白色

$yellow: #fadb14; // 黄色
$purple: #a091ff; // 紫色

$b_c: #e2ecf4; // 边框色