.copyright{
    padding: $md;
    border-radius: $xxs;
    background: linear-gradient(45deg,transparent, rgba(236, 242, 252, 0.6), transparent, rgba(236, 242, 252, 0.6), transparent);
    color: $gray;
}