.catalogue-wrap{
    position: absolute;
    top: 0;
    right: 16px;
    width: 168px;
    max-height: calc(100vh - 140px);
    padding-top: 40px;
    background: #fff;
    overflow-y: scroll;
}
.catalogue{
    counter-reset: level_one 0;
    li{
        padding: 4px 8px;
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul{
        counter-reset: level_one 0;
    }
    .level-1-li{
        &:before{
            content: counter(level_one, cjk-ideographic) '、';
            counter-increment: level_one 1;
        }
    }
    .level-2-li{
        margin-left: 8px;
        font-size: 12px;
        &:before{
            content: counters(level_one, '-') '、';
            counter-increment: level_one 1;
        }
    }
}